header{
  background-color: rgb(221, 168, 183);
  text-align: center;
  font-size: 32px;
}

header ul {
  list-style-type: none;
}
header li {
  display: inline-block;
}
header h1 {
  text-align: center;
  font-size: 2rem;
  color: black;
}
header p {
  font-size: 20px;
}

@media screen and (max-width: 400px) {
  header {
    text-align: center;
    font-size: 10px;
  }
}
@media screen and (max-width: 780px) {
  header {
    text-align: center;
    font-size: 20px;
  }
}
@media screen and (max-width: 1200px) {
  header {
    text-align: center;
    font-size: 28px;
  }
}
.grid {
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas: "title          ...           img"
                       "description    description   img" 
                       "button         ...           img";
}

.grid .grid__title {
  grid-area: title;
}

.grid .grid__description {
  grid-area: description;
}

.grid .grid__button {
  grid-area: button;
}

.grid .grid__img {
  grid-area: img;
}

.grid__button:hover {
  transform: scale(1.1);
}

.grid__button {
  background-color: darksalmon;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-left: 5px;
}

a{
  color: black;
  text-decoration: none;
  padding-right: 2rem;
  font-style: inherit;
}

h1{
  text-align: center;
}


.cardd-text{
  height: 105px;
}

.img-fluid{
  height: 100%;
}

.col-md-8{
  transition: 3s;
}

.col-md-8:hover{
  transform: scale(1.1);
}

 .mapa{
  display: flex;
  justify-content: left;
  justify-content: space-around;
}

.galeria{
  display: flex;
  justify-content: right;
}


footer{
  background-color: rgb(191, 138, 153);
  text-align: center;
}

.imgfooter{
  height: 65px;
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 10px;
}


.grid__title{
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.destinos{
  animation-duration: 1.5s;
  animation-name: slidein
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.paquetes{
  animation-duration: 1.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }


}

.form {
  margin: 0 auto;
  width: 400  px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}
div + div {
  margin-top: 1em;
}
label {
  display: inline-block;
  width: 90px;
  text-align: right;
}
input,
textarea {
  font: 8rem ;
  font-family: inherit;
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
}
input:focus,
textarea:focus {
  border-color: #000;
}
textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}
.button {
  padding-left: 90px; 
}
button {
  margin-left: 0.5em;
}

html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#ffffff, #ffffff);
}

.login-box {
  /* position: absolute; */
  position: relative;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  margin-bottom: 20px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ffffff;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #b6359e;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #d26bc1;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #b117af,
              0 0 25px #b72093,
              0 0 50px #be16a8,
              0 0 100px #c9229f;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #c461c4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #e275e4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #a9598d);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #e16acf);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.contactateimg{
  width: 60rem;
  padding-left: 10px;
  display: flex;
  justify-content: left;
  justify-content: space-around;
}

.formulariocon{
  display: flex;
  justify-content: right;
  width: 40rem;
}

.contactoform{
animation-duration: 1.5s;
animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.tarifascon{
  animation-duration: 1.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}