.grid{
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: min-content min-content min-content;

    grid-template-areas: 
    "title          ...           img"
    "description    description   img"
    "button         ...           img"
    ;
    }  

    .grid .grid__title{
        grid-area: title; 
    }
    
    .grid .grid__description{
        grid-area: description;
    }

    .grid .grid__button{
        grid-area: button;
    }

    .grid .grid__img{
        grid-area: img;
    }


    .grid__button:hover{
    padding: 2rem;
    
    }  

    .grid__button{
    background-color: darksalmon;
    transition: .5s;
    }
