header{
        background-color: rgb(221, 168, 183);
        text-align: left;
        font-size: 32px;
      }
      
      footer {
        background-color: rgb(221, 168, 183);
      }
      
      header ul {
        list-style-type: none;
      }
      header li {
        display: inline-block;
      }
      header h1 {
        text-align: center;
        font-size: 2rem;
        color: black;
      }
      header p {
        font-size: 20px;
      }