@media screen and (max-width: 400px) {
    header{
        text-align: center;
        font-size: 10px;
       
    }
}

@media screen and (max-width: 780px) {
    header{
        text-align: center;
        font-size: 20px;
        
    }
}

@media screen and (max-width: 1200px) {
    header{
    text-align: center;
    font-size: 28px;
  
    }
}